<h5 class="card-title"><strong>Name:</strong> <%= hotel.name %></h5>
<p class="card-text"><strong>Address:</strong> <%= hotel.address %></p>
<p class="card-text"><strong>Description:</strong> <%= hotel.description %></p>